
<link rel="stylesheet" href="../../resources/css/bootstrap.css"
	type="text/css">
<link rel="stylesheet" href="../../resources/css/bootstrap.min.css"
	type="text/css">

<div>

	<div id="printable" class="panel col-xs-12   ">
		<button class=" btn	btn-primary hidden-print"
			onclick="window.print();">
				<i class="fa fa-print"></i>
				imprimir
			</button>
		<button class=" btn	btn-primary hidden-print"
			ng-click="send(obj)" ng-hide="registrar == false">{{botaoFinal}}</button>

			<!-- <button class=" btn	btn-primary hidden-print"
			onclick="printDiv();">teste</button> -->
			
			
		<form name="cliForm">
			<div class="panel-body ">


				<table width="100%" cellpadding="2">
					<tr>
						<td class="col-lg-8" align="center" valign="middle" rowspan="3">
							<img align="middle" src="resources/img/logo2.png" width="100%"
							height="50%" />
						</td>

					</tr>
					<tr>
						<td class="col-lg-4 text-center">
							<h3>Peças e Acessórios para seu Veículo</h3>
						</td>
					</tr>
					<tr>
						<td class="col-lg-4 text-center">
							<h3>
								<label style="font-size: 40px;"> 3685-2804 </label>
							</h3>
						</td>
					</tr>
					<tr></tr>
					<tr>
						<td class="col-lg-6" colspan="2"
							style="text-align: center; font-size: 25px;">
							<h2>Av. Antonio C. Costa, nº 423 - Jd. Ipê - Osasco SP</h2>
						</td>
					</tr>
				</table>


				<div class="panel text-left col-xs-8" style="margin-left: -47px;" >
					<div class="control-group col-xs-8">
						<label>CPF</label> <input ng-model="obj.cpfCliente" id="campo"
							class="form-control" required maxlength="11"
							ui-mask="999.999.999-99" disabled="disabled" />
					</div>

					<div class="control-group col-xs-8">
						<label>Nome</label> </span> 
						<input type="text" id="campo"
							class="form-control" required value="{{ obj.nomeCliente | inflector:inflectorType}}"
							disabled="disabled">
					</div>

					<div class="control-group col-xs-4">
						<label>Telefone</label> <input id="campo"
							ng-model="obj.telefoneCliente" type="text" class="form-control"
							maxlength="9" ui-mask="99999-999?9" disabled="disabled" />
					</div>

					<div class="control-group col-xs-4">
						<label>Marca</label> <input id="campo" ng-model="obj.veiculoMarca" type="text"
							class="form-control" required disabled="disabled" />
					</div>

					<div class="control-group col-xs-4">
						<label>Modelo</label> <input id="campo" ng-model="obj.veiculoModelo" type="text"
							class="form-control" required disabled="disabled" />
					</div>

					<div class="control-group col-xs-4">
						<label>Placa</label> <input ng-model="obj.veiculoPlaca" id="campo"
							type="text" class="form-control text-uppercase"  ui-mask="AAA-9999" required disabled="disabled" />
					</div>

				</div>

				<div id="os" class="panel col-xs-4 alert-info btn-group-vertical" style="height: 180px;">
					<h1 ng-hide="orcamento == true" class="numeroOS">O.S nº 0000{{obj.numeroOS}}</h1>

				</div>
			</div>
		</form>
		<div id="tabelaItens" class="panel panel-default">
			<table class="table table-striped table-bordered col-lg-12 ">
				<thead>
					<tr>
						<th class="pointer col-lg-4">Nome</th>
						<th class="pointer col-lg-1">Qtd</th>
						<th class="pointer col-lg-2">Valor</th>
						<th class="pointer col-lg-2">Garantia</th>
						<th class="pointer col-lg-3 hidden-print" ng-hide="registrar == true">Funcionario</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="itemVenda in itemsVenda">

						<td>{{itemVenda.modelo}}</td>
						<td><label ng-show="itemVenda.tipo != editableInput">{{itemVenda.quantidadeVenda}}</label></td>
						<td>{{itemVenda.valor | currency:'R$ '}}</td>
						<td><label ng-show="itemVenda.tipo != editableInput">{{itemVenda.garantia}}</label></td>
						<td class="hidden-print" ng-hide="registrar == true">{{itemVenda.noFuncionario}}</td>
						
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th class="active text-right" colspan="3">Total</th>
						<th class="active text-info label-default" colspan="1">{{valorTotalLista | currency:'R$ '}}</th>
					</tr>
				</tfoot>
			</table>
		</div>
		<div ng-show="orcamento == true" class="pull-right hackyhack">
		<label>Orçamento valido até: </label>
		<input type="text" class="disabled" ng-disabled="consulta == true" ng-click="open($event)"
									datepicker-popup="{{format}}" min-date="DataMinimaOrcamento" ng-model="DataFinalOrcamento"
									is-open="opened" datepicker-options="dateOptions" show-weeks="false"
									close-text="Close" show-button-bar="false" /> 
		</div>
	</div>
</div>
